<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="ArrendamientoInmuebleEntities" connectionString="metadata=res://*/ContratosModelo.csdl|res://*/ContratosModelo.ssdl|res://*/ContratosModelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DI-DESA21;initial catalog=ArrendamientoInmueble;persist security info=True;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--
    <add name="ArrendamientoInmuebleEntities" connectionString="metadata=res://*/ContratosModelo.csdl|res://*/ContratosModelo.ssdl|res://*/ContratosModelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.29.88.246\INDAA_DB_TEST01;initial catalog=ArrendamientoInmueble;persist security info=True;user id=UserDesaAplica;password=3ntorn01tph;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    -->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>