<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SandBoxEntities" connectionString="metadata=res://*/SandBoxModelo.csdl|res://*/SandBoxModelo.ssdl|res://*/SandBoxModelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.29.88.20;initial catalog=ArrendamientoInmueble;user id=PruebaUAT;password=Prueb@2016/UAT;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>