<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>

    <!-- ****************  Base de Datos *************************  Integrated Security=SSPI;  -->
    <!--Desarrollo-->
    
    <add name="cnArrendamientoInmueble" connectionString="Data Source=172.29.88.246\INDAA_DB_TEST01; Password=3ntorn01tph; User ID=UserDesaAplica; Initial Catalog=ArrendamientoInmueble_Produccion" providerName="System.Data.SqlClient" />    
    
   
    <!--UAT-->
    <!--<add name="cnArrendamientoInmueble" connectionString="Data Source=172.29.88.20; Password=Prueb@2016/UAT; User ID=PruebaUAT; Initial Catalog=ArrendamientoInmueble" providerName="System.Data.SqlClient"/>-->
    <!--local-->
    <!--<add name="cnArrendamientoInmueble" connectionString="Data Source=DI-DESA03\SQLEXPRESS;Initial Catalog=ArrendamientoInmueble;Integrated Security=SSPI" />-->
    <!--ESPEJO-->
    <!--<add name="cnArrendamientoInmueble" connectionString="Data Source=172.29.88.20; Password=$0l0PorHoy2016; User ID=PruebaProd; Initial Catalog=ArrendamientoInmueble_PROD" providerName="System.Data.SqlClient"/>-->
    <!--PR-->
        <!--<add name="cnArrendamientoInmueble" connectionString="Data Source=172.29.88.20; Password=Prueb@2016/UATPPRO; User ID=PruebaUAT_PR; Initial Catalog=ArrendamientoInmueble_PR" providerName="System.Data.SqlClient" />-->
   

    <!-- ****************  EntityFramework *************************-->
    <!--Desarrollo-->
    
    <add name="ArrendamientoInmuebleEntities" connectionString="metadata=res://*/ContratosModelo.csdl|res://*/ContratosModelo.ssdl|res://*/ContratosModelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.29.88.246\Indaa_db_test01;initial catalog=ArrendamientoInmueble_Produccion;user id=UserDesaAplica;password=3ntorn01tph;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
   
    <!--espejo-->
    <!--<add name="ArrendamientoInmuebleEntities" connectionString="metadata=res://*/ContratosModelo.csdl|res://*/ContratosModelo.ssdl|res://*/ContratosModelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.29.88.20;initial catalog=ArrendamientoInmueble_PROD;user id=PruebaProd;password=$0l0PorHoy2016;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <!--UAT-->
    <!--<add name="ArrendamientoInmuebleEntities" connectionString="metadata=res://*/ContratosModelo.csdl|res://*/ContratosModelo.ssdl|res://*/ContratosModelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.29.88.20;initial catalog=ArrendamientoInmueble;user id=PruebaUAT;password=Prueb@2016/UAT;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <!--local-->
    <!--<add name="ArrendamientoInmuebleEntities" connectionString="metadata=res://*//ContratosModelo.csdl|res://*/ContratosModelo.ssdl|res://*/ContratosModelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DI-DESA03\SQLEXPRESS;initial catalog=ArrendamientoInmueble;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--PR-->
    <!--<add name="ArrendamientoInmuebleEntities" connectionString="metadata=res://*/ContratosModelo.csdl|res://*/ContratosModelo.ssdl|res://*/ContratosModelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.29.88.20;initial catalog=ArrendamientoInmueble_PR;user id=PruebaUAT_PR;password=Prueb@2016/UATPPRO;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    

    <!-- ****************  IDE Mapas  *************************-->
    <add name="statisticsCore" connectionString="Data source=172.30.110.237\DBCLUSTER; Initial catalog=IDEE; User id=ProdAppIDEE; Password=QMJp*Rs1-CrK6+ZjyA+H" />
  <!--<add name="statisticsCore" connectionString="Data source=172.29.88.246\INDAA_DB_TEST01; Initial catalog=CP_IDEE; User id=UserDesaAplica; Password=3ntorn01tph" />-->
  </connectionStrings>
  <system.web>

    <sessionState timeout="10000" />
    <compilation targetFramework="4.5" debug="true" />
    <httpRuntime executionTimeout="10800" targetFramework="4.5" maxRequestLength="25000000" />
  </system.web>
  <appSettings>
    <!--<add key="RutaDocs" value="C:\Users\desa03\Desktop" />-->
    <add key="jefeDepot" value="desa03@indaabin.gob.mx" />
    <add key="URLQR" value="http://localhost:38719/" />
    <add key="Color" value="#FF6600"></add>
    <add key="Version" value="version 1.0.001 PRUEBAS"></add>
	 	
	  
    <add key="TokenApp" value="de73bcad-9856-45ad-889e-06795f407e17" />
    <!--PR-->
    <!--<add key="URL_SSO" value="http://200.76.24.107/SSOWebN/Login.aspx" />-->
    
    <!--desarrollo-->
    <add key="URL_SSO" value="http://172.29.88.246/SSOWebN/Login.aspx?" />
    
    <!--ESPEJO-->
    <!--<add key="URL_SSO" value="https://172.29.88.241/TestProd/ContratosTest/SSOWebN/Login.aspx" />-->
    <add key="RutaDocs" value="\\172.29.88.246\Compartida_SAU_New\" />
	<add key="RutaDocsAdjuntosEscritura" value="\\172.29.88.246\Compartida_SAU_New\" />
	<add key="RutaDocsAdjuntosLectura" value="\\172.29.88.246\Compartida_SAU_New\" />
   
    <!--UAT-->
    <!--<add key="URL_SSO" value="http://172.30.110.7/SSOWebN/Login.aspx?IDApplication="/>-->

    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <!--email-->
    <add key="Mail_Server" value="sfpcasarray.sfp.gob.mx" />
    <add key="Mail_Port" value="" />
    <add key="Mail_Email" value="notificaciones@sfp.gob.mx" />
    <add key="Mail_User" value="notificaciones@sfp.gob.mx" />
    <add key="Mail_Pass" value="987654321" />

    <add key="nombre.tabla.estados" value="ESTADOS_BACKUP" />
    <add key="nombre.tabla.municipios" value="MUNICIPIOS_BACKUP" />
    <add key="nombre.tabla.localidades" value="GE_GEO_LOCALIDADES_URBANAS_2010NACIONAL" />
    <add key="nombre.tabla.cp" value="GE_GEO_CODIGOS_POSTALES_2010" />

  </appSettings>
  <system.serviceModel>
        <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    
     <client>
      <!--Producción-->
      <!--<endpoint address="http://172.29.88.241/BUSServices/WS_BUS.svc?wsdl"
                binding="basicHttpBinding"
      bindingConfiguration="BasicHttpBinding_IWS_BUS"
      contract="INDAABIN.DI.BUS.Servicio.Contratos.IWS_BUS"
      name="BasicHttpBinding_IWS_BUS"/>-->

      <!--UAT-Pruebas-->
      <!--<endpoint address="http://172.30.110.8/BusServices/WS_BUS.svc?"                             
                binding="basicHttpBinding"
    bindingConfiguration="BasicHttpBinding_IWS_BUS"
    contract="INDAABIN.DI.BUS.Servicio.Contratos.IWS_BUS"
    name="BasicHttpBinding_IWS_BUS"/>-->

      <!--Desarrollo-->
      <endpoint address="http://172.29.88.246/BUSServices/WS_BUS.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWS_BUS" contract="INDAABIN.DI.BUS.Servicio.Contratos.IWS_BUS" name="BasicHttpBinding_IWS_BUS" />

      <!--ESPEJO-->
           <!--<endpoint address="https://sistemas.indaabin.gob.mx/TestProd/BUSTest/ws_bus.svc?" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWS_BUS" contract="INDAABIN.DI.BUS.Servicio.Contratos.IWS_BUS" name="BasicHttpBinding_IWS_BUS" />-->   


      
      <!--PR-->
      <!--<endpoint address="http://200.76.24.107/BUSServices/WS_BUS.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWS_BUS" contract="INDAABIN.DI.BUS.Servicio.Contratos.IWS_BUS" name="BasicHttpBinding_IWS_BUS" />-->

      
    </client>


   <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IWS_BUS" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
                               <!--<readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxDepth="2147483647" maxNameTableCharCount="2147483647" maxStringContentLength="2147483647" />
                                               <security mode="Transport">
                                                               <transport clientCredentialType="None" />
                                               </security>-->
        </binding>
      </basicHttpBinding>
    </bindings>

   
  </system.serviceModel>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="Principal.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>